header{
    display: block;
    background-color: #E7EBDA;
    width:100%;
}

header h1{
    text-transform: uppercase;
    text-align: left;
    width:30%;
    display:inline-block;
}
header nav{
    text-align: right;
    display:inline-block;
    width:60%;
}

header ul{
    display: inline-block;
    list-style:none;
    /*margin: 0.5em auto;*/
    text-align: center;
    margin:0;
    padding:0;
}   

header ul li a{
    text-decoration: none;
    border: solid;
    border-color: #7D8471;
    border-radius: 50px;
    background-color: #7D8471;
    color: white;
    padding: 0.3em;
}

header ul li a:hover{
    background-color: #B8B799;
    border-color: #B8B799;
}

header ul li a:active{
    padding: 0.2em;
} 
 /* menu desplegable */

/* afectando submenu */
header ul ul {
display:none;
position:absolute;
top: 20px;
left:0px;
/*background:#eee;*/

text-align: left;
}

/* items del menu desplegable */

header ul ul li {
float:none;
padding-top: 20px;
}


/* enlaces de los items del menu desplegable */

header ul ul a {
text-transform: uppercase;
line-height:120%;
padding: 0.3em;
font-size: 15px;
}

/* items del menu */

header ul li {
position:relative;
float:left;
margin:0;
padding:0;
}


/* items del menu desplegable al pasar el ratón */

header ul li:hover > ul {
display:block;
}

       
